<button id="start">Start</button>
<button id="stop">Stop</button>
<form action="#">
    <select id="grid" name="Grid">
        <option value="@4n">4</option>
        <option value="@8n">8</option>
        <option value="@16n">16</option>
        <option value="@32n">32</option>
    </select>
    <button id="confirm">Quantize</button>
</form>
<div>
    <button id="drums">drums</button>
</div>
<div>
    <button id="synth">synth</button>
</div>
<div>
    <button id="pluck">pluck</button>
</div>
<div>
    <button id="piano">piano</button>
</div>
<button id="record">record</button>
<div>Bpm
    <input id="bpm" type="range" min="50" max="200" step="1" value="120">
</div>
<h2>Tempo: <span id="tempo">120</span></h2>