<script src="../js/Tone.js"></script>
<script src="../js/index.js"></script>
<div class="container-fluid">

<h4 class="center-align" style="color: #fff3E0;">VybeOut and Create Something New!</h4>
    <div class="row dropdown">


        <div class="col-md-2">
            <button id="plusbtn" type="button" class="tooltipped dropdown-toggle" data-position="top" data-tooltip="Click me to add an instrument. Then click the instrument button to activate the instrument." data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <svg id="plusvg" width="100" height="100" class="icon  icon--plus" viewBox="0 0 5 5" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 1 h1 v1 h1 v1 h-1 v1 h-1 v-1 h-1 v-1 h1 z"></path>
                </svg>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" id="drumKit" href="#">DrumKit</a>
                <a class="dropdown-item" id='piano' href="#">piano</a>
                <a class="dropdown-item" id='pluck' href="#">pluck</a>
                <a class="dropdown-item" id='synth' href="#">synth</a>
                <a class="dropdown-item" id='trumpets' href="#">trumpets</a>
                <a class="dropdown-item" id='flute' href="#">flute</a>
                <a class="dropdown-item" id='sax' href="#">sax</a>
                <a class="dropdown-item" id='drumKit2' href="#">DrumKit 2</a>
                <a class="dropdown-item" id='pluck2' href="#">pluck 2</a>
                <a class="dropdown-item" id='pluck3' href="#">pluck 3</a>
                <a class="dropdown-item" id='steelPluck' href="#">Steel Pluck</a>
                <a class="dropdown-item" id='synthPluck' href="#">Synth Pluck</a>
                <a class="dropdown-item" id='8081' href="#">808 1</a>
                <a class="dropdown-item" id='8082' href="#">808 2</a>
                <a class="dropdown-item" id='8083' href="#">808 3</a>
                <a class="dropdown-item" id='8084' href="#">808 4</a>
                <a class="dropdown-item" id='guitar1' href="#">Guitar 1</a>
                <a class="dropdown-item" id='guitar2' href="#">Guitar 2</a>
                <a class="dropdown-item" id='choir1' href="#">Choir 1</a>
                <a class="dropdown-item" id='choir2' href="#">Choir 2</a>
                <a class="dropdown-item" id='pad' href="#">pad</a>
            </div>
        </div>

        <form action="#">
            <div class="input-group">
                <select id='grid' id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Choose...</option>

                    <option value="@4n">4</option>
                    <option value="@8n">8</option>
                    <option value="@16n">16</option>
                    <option value="@32n">32</option>
                </select>
                <div class="input-group-append">
                    <button id='confirm' class="btn btn-outline-secondary buttonText tooltipped" data-position="bottom" data-tooltip="Select a value from the drop down then click me so I can correct your errors." type="button">quantize</button>
                </div>
            </div>
        </form>

    <div>
        <input id="bpm" type="range" min="50" max="200" step="1" value="120">
        <button id="start"><i class="tooltipped fas fa-play-circle fa-2x" data-position="bottom" data-tooltip="Click me to start the sequence."></i></button>
        <button id="stop"><i class="tooltipped fas fa-stop-circle fa-2x" data-position="bottom" data-tooltip="Click me to stop the sequence."></i></button>
        <button id="record" class="tooltipped" data-position="bottom" data-tooltip="Click me to record your input."><svg height="40" width="40">
            <circle cx="20" cy="18" r="15" stroke="black" stroke-width="0" fill="red" />
        </svg><br></button>
        <h5 class="text-right tempotext tooltipped" data-position="bottom" data-tooltip='Slide the bar above to change the tempo.'>Tempo: <span id="tempo">120</span></h5>

        </div>

        <div class="col-md-4 hhh12">
            <h6 class="text-right">use the arrow in the bottom right corner of each instrument to customize your
                dashboard!</h6>
            <h5><strong>Use the Z and X keys to change the octave of each instrument! </strong></h5>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 grid-stack"></div>
    </div>

</div>

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger buttonText tooltipped" data-position="bottom" data-tooltip="Click me to share your project." href="#modal1" id="shareStop">SHARE</a>

<!-- Modal Structure -->
<div id="modal1" style="background-color: #c5ebc3" class="modal bottom-sheet">
    <h4 class="black-text">SHARE SONG</h4>
    <form action="#">
        <div style="background-color: #c5ebc3" class="modal-content" id="shareBox">
            <div class="row">
                <div class="input-field col s12">
                    <input id="producer" type="text" class="validate">
                    <label style="color: #011627" class="active" for="first_name2">Producer Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="beatName" type="text" class="validate">
                    <label style="color: #011627" class="active" for="first_name2">Beat Name</label>
                </div>
                <div style="color: #ff0000;" class="input-field col s12">
                    <select id="contrib">
                        <option value="" disabled selected>Can people Contribute</option>
                        <option value="true">YES</option>
                        <option value="false">NO</option>
                    </select>
                </div>
            </div>
            <a href="#!" style="background-color: #c5ebc3; color: #011627;" class="modal-close waves-effect btn-flat modal-footer share black-text" id="shareFooter">Share</a>
        </div>
    </form>
</div>

<footer>
    <div class="footer-copyright2 classin navText">
        © 2018 Vybe Out Studio
    </div>
</footer>