<main>
    <div class="myVidContainer">
        <video autoplay muted loop id="myVid">
            <source src="/assets/images/djStudioLoop1080.mp4" type="video/mp4">
        </video>
    </div>

    <div class="row">

        <div class="col s4">
            <a href="/create">
                <div class="card mainBoxes valign-wrapper waves-effect" id="makeBox">
                    {{!-- <a href="/create"></a> --}}
                    <div class="card-content mainText">
                        <span class="card-title center-align">
                            <h4>MAKE</h4>
                        </span>
                        <p class="bodyText">Make a beat to share with friends!
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col s4">
            <a href="/view">
            <div class="card mainBoxes valign-wrapper waves-effect" id="viewBox">
                <div class="card-content mainText">
                    <span class="card-title center-align">
                        <h4>VIEW</h4>
                    </span>
                    <p class="bodyText">Check out beats others have shared!
                    </p>
                </div>
            </div>
            </a>
        </div>

        <div class="col s4">
            <a href="/contribute">            
            <div class="card mainBoxes valign-wrapper waves-effect" id="contributeBox">
                <div class="card-content mainText">
                    <span class="card-title center-align">
                        <h4>CONTRIBUTE</h4>
                    </span>
                    <p class="bodyText">Add your own flavor to another user's beat!
                    </p>
                </div>
            </div>
            </a>
        </div>

    </div>

</main>

<footer>
    <div class="footer-copyright navText">
        © 2018 Vybe Out Studio
    </div>
</footer>