<body>


    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right navText">Vybe Out Studio</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#" class="navText">Login</a></li>
                <li><a href="#" class="navText">API</a></li>
                <li><a href="#" class="navText">About</a></li>
            </ul>
        </div>
    </nav>


    <main>
        <div class="myVidContainer">
            <video autoplay muted loop id="myVid">
                <source src="/assets/images/DJ_Audio.mp4" type="video/mp4">
            </video>
        </div>

        <div class="row">

            <div class="col s4">
                <div class="card mainBoxes valign-wrapper" id="makeBox">
                    <div class="card-content mainText">
                        <span class="card-title center-align">MAKE</span>
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="card mainBoxes valign-wrapper" id="viewBox">
                    <div class="card-content mainText">
                        <span class="card-title center-align">VIEW</span>
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s4">
                <div class="card mainBoxes valign-wrapper" id="contributeBox">
                    <div class="card-content mainText">
                        <span class="card-title center-align">CONTRIBUTE</span>
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="footer-copyright navText">
            © 2018 Vybe Out Studio
        </div>
    </footer>

</body>

</html>