<script src="https://unpkg.com/scrollreveal"></script>
<script src="../js/view.js"></script>
<h1 class="center-align navText">VybeOut View</h1>
<h4 class="center-align navText">Listen to our community of beat makers.</h4>
{{#each vybeBeats }}
<div class="col s6 m4 cardMiddle load-hidden" style="width: 500px">
    <div class="card horizontal" style=" background-color: #fff3E0;">
        <h4 class="audioStyle">Producer: {{Author}}</h4>
        <p class="audioStyle">Beat Name: {{BeatName}}</p>
        <audio style="margin-left: 15%" controls loop>
            <source src="/audio/{{Beat}}" type="audio/ogg">
        </audio>
    </div>
</div>
{{/each}}
